{% extends '../common/base.html' %}

{% block title %}
  Forgot Password
{% endblock title %}

{% block page %}

<style>
  .box{
      min-height: 96vh;
      padding-left: 20em;
      padding-right: 20em;
      padding-top: 10em;
  }
</style>

  <form class="flex-wrap d-flex flex-column box m-3 pb-3 box bg-dark" action="" method="post">
    <!-- Email input -->
    {% csrf_token %}
    <h3>Esqueci-me da palavra-passe</h3>
    <p>Coloque seu e-mail na caixa abaixo, se o e-mail existir enviaremos um e-mail de confirmação.</p>
    <div class="form-outline mb-4">
      <input type="text" id="email" class="form-control" placeholder="examplo@mail.com" name="email" required/>
      <label class="form-label" for="email"></label>    
      {% for message in messages %}
      <h3>{{ message }}</h3>
      {% endfor %}
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row mb-4">

      <div class="col">
        <!-- Simple link -->
        <button type="submit" class="btn btn-warning btn-block mb-4">Enviar email</button>
      </div>
    </div>
  </form>

{% endblock page %}
